@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Poppins:wght@200&display=swap');

.buttons-groups-size .btn{
    width: 15% !important;
}
.buttons-group-quantity .btn,
span{
    width: 15% !important;
}
@media (max-width: 576px){
    .img-fluid{
      font-size: 30px !important;
    } 
    .dropdown-menu {
      font-size: small;
    }
}