@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Poppins:wght@200&display=swap');

body{
    background-color: #f8f8fb;
}
nav{
    background-color: #f8f8fb;   
}
#home-head-carousel img{
    height: 1130px !important;
}
.highlite-header-text{
    font-size: 50px !important;
    font-family: 'Fredoka', sans-serif;
}
.headerfont{
    font-family: 'Fredoka', sans-serif; 
    font-size: 60px !important;
}
.highlite-text-container{
 background-image: url(../image/homepage-img/imageedit_3_2637177959.png);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 opacity: .75;
}
.spaciality-text{
    font-size: 70px !important;
    font-family: 'Fredoka', sans-serif;
}
.spaciality-holder img{
    width: 200px;
}
.icon-zoom{
    transition: transform .2s ease-in-out;
}
.icon-zoom:hover{
    transform: scale(1.2);
}
.media-container{
    display: block;
    width: 250px !important;
}
.media-container-img{
    max-width: 100%;
    height: auto;
}


.dark{
    background-color: #333333;
    color: white;
}

footer li {
    list-style: none;
}
footer li :hover{
    color: rgb(248, 179, 89);
}

.bird-container .card-img-top{
    object-fit: cover !important;
   width: 100% !important;
    height: 230px !important;

}
.cat-container .card-img-top{
    object-fit: cover !important;
   width: 100% !important;
    height: 230px !important;

}

@media (max-width: 576px){
  .highlite-header-text{
    font-size: 30px !important;
  } 
  .spaciality-text{
    font-size: 25px !important;
  } 
  .highlite-paragraph{
   font-size: 16px !important;
  }
  .highlite-hrader-img{
    width: 200px !important;
    margin: auto !important;
  }
  .location-info-head-img{
    width: 40px;
    margin: 10px auto !important;
  }
  .location-info-head{
    margin: 0 10px !important;

    }
    .location-info-footer-img{
     width: 40px !important;   
    }
    .media-container-img{
        max-width: 100%;
        height: auto;
    }
    .headerfont{
        font-family: 'Fredoka', sans-serif; 
        font-size: 30px !important;
    }
}